<h3>ServerConnection</h3>

<input @bind-value="IpAddress" placeholder="localhost"/>
<input @bind-value="Port" placeholder="port"/>
<input @bind-value="Name" placeholder="이름"/>

<button @onclick="@(() => Login())">접속!</button>

